{# Base html template for whole website #}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Diffusion Gallery{% endblock %}</title>

    {% block global_styles %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'style.css' %}"/>
    {% endblock %}

    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <!-- TODO link to main page on click -->
        <h1 class="noselect"><a class="nolink" href="{% url 'index' %}">Diffusion Gallery</a></h1>
        <!-- TODO display queue status -->
        {% if generate_button %}
            <button class="noselect" onclick="location.href='{% url 'generate' %}'">Generate</button>
        {% endif %}
    </header>
    <div class="content-container">
        {% block content %} Nothing here {% endblock %}
    </div>
    <footer>&copy; Copyright {% now 'Y' %}. All Rights Reserved</footer>
</body>
</html>
