{# Card tempalte of a single prompt #}
<div class="card prompt {% if single_prompt %}single{% endif %}">
    <p class="prompt-name">
        {% if name_is_link %}
            <a href="{{ prompt.get_absolute_url }}">{{ prompt.name }}</a>
        {% else %}
            {{ prompt.name }}
        {% endif %}
    </p>
    <p class="prompt-description">{{ prompt.text }}</p>
    <div class="detail-row">
        <!-- TODO icons for each detail -->
        <p class="prompt-detail">{{ prompt.model.name }}</p>
        <p class="prompt-detail">{{ prompt.size }}</p>
        <p class="prompt-detail">{{ prompt.steps }} steps</p>
        <p class="prompt-detail">{{ prompt.seed|default:'Random seed' }}</p>
    </div>
    {% if include_task_form %}
        <form id="prompt-task-form" action="{% url 'task_create' %}" method="post" >
            {% csrf_token %}
            <label for="id_prompt" hidden>Prompt id</label><input type="text" name="prompt_id" id="id_prompt" value="{{ prompt.id }}" hidden>
            <label for="id_count">
                Generate
                <input type="number" name="count" id="id_count" min="0" max="10" value="1">
                image(s)
            </label>
            <input class="button" type="submit" value="Go!">
    </form>
    {% endif %}
</div>
