:root {
    color-scheme: dark;
    --background: #121212;
    --secondary-background: #1f1f1f;
    --item-background: #1e1e1e;
    --primary: #e1e1e1;
    --on-primary: #121212;
    --secondary: #919191;
    --accent: #2CB0E0;

}

body {
    margin: 0;
    padding: 0;

    background-color: var(--background);
    color: var(--primary);

    font-family: 'Sofia Sans', sans-serif;
}

.content-container {
    margin: 20px;
}

button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;

    background-color: var(--primary);
    color: var(--on-primary);

    border: none;
    border-radius: 7px;

    cursor: pointer;
}

button:hover,
button:focus {
    filter: brightness(115%);
    box-shadow: rgba(255, 255, 255, 0.1) 0 4px 12px;
}

button:active {
  filter: brightness(90%);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(1px);
}

header {
    background-color: var(--secondary-background);
    display: flex;
    justify-content: space-between;

    width: auto;
    left: 0;
    right: 0;
    max-width: 100%;
    min-height: 3rem;

    margin: 0;
    padding: 20px;
}

header > * {
    margin: auto 0;
}

header > h1 {
    text-transform: uppercase;
}

header > h1:hover {
    filter: brightness(110%);
    cursor: default;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.section-header {
    text-transform: uppercase;
    margin: 50px auto 20px auto;
}

.centered {
    text-align: center;
}
