/* Variables and constants */
:root {
    color-scheme: dark;
    --background: #121212;
    --secondary-background: #1f1f1f;
    --item-background: #1e1e1e;
    --primary: #e1e1e1;
    --on-primary: #121212;
    --secondary: #919191;
    --accent: #f78104;
    --link: var(--accent);
}

/* Global styling */
body {
    margin: 0;
    padding: 0;

    background-color: var(--background);
    color: var(--primary);

    font-family: 'Sofia Sans', sans-serif;

    /* Make footer stick to bottom */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:not(.nolink) {
    display: inline-block;
    position: relative;
}

a:not(.nolink)::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1em;
    bottom: -0.1em;
    left: 0;
    background-color: var(--link);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:not(.nolink):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

button, .button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;

    background-color: var(--primary);
    color: var(--on-primary);

    border: none;
    border-radius: 7px;

    cursor: pointer;
}

button:hover, .button:hover,
button:focus, .button:focus {
    filter: brightness(115%);
    box-shadow: rgba(255, 255, 255, 0.1) 0 4px 12px;
}

button:active, .button:active {
  filter: brightness(90%);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(1px);
}

/* Base template components */

header {
    background-color: var(--secondary-background);
    display: flex;
    justify-content: space-between;

    width: auto;
    left: 0;
    right: 0;
    max-width: 100%;
    min-height: 3rem;

    margin: 0;
    padding: 20px;

    position: fixed;
    z-index: 1;
    top: 0;
}

header > * {
    margin: auto 0;
}

header > h1 {
    text-transform: uppercase;
}

header > h1:hover {
    filter: brightness(110%);
    cursor: default;
}

header > h1 > a {
    color: inherit;
    text-decoration: inherit;
}

.content-container {
    margin: calc(5.5rem + 20px) 20px 20px;
    overflow: hidden;

    /* Push footer away */
    flex: 1 0 auto;
}

footer {
    background-color: var(--secondary-background);
    color: var(--secondary);

    display: flex;
    justify-content: space-between;

    width: auto;
    left: 0;
    right: 0;
    max-width: 100%;

    margin: 0;
    padding: 20px;

    flex-shrink: 0;
}

/* Generally useful classes */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.section-header {
    text-transform: uppercase;
    margin: 50px auto 20px auto;
}

.centered {
    text-align: center;
}

.card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.button-card {
    position: relative;
    background-color: var(--item-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    transition: opacity 0.5s;
}

.card-text:hover {
    opacity: 1;
}

.card-text > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.card-text:hover > * {
    transform: translateY(0);
}

.square {
    aspect-ratio: 1;
}

.empty-card {
    display: flex;
    min-height: 25em;
    max-height: 100%;
    align-items: center;
    justify-content: center;
}

.text-with-button {
    color: var(--accent);
    font-size: 2em;
}

/* index.html */

.image-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.image {
    display: block;
    width: 100%;
}

.image-name {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.image-description {
    font-size: 1.2em;
}

.image-date {
    color: var(--secondary);
}

.single-button {
    font-size: 2.5em;
}

/* prompt_form.html */

#prompt-form {
    margin: auto;
    width: fit-content;
    min-width: 50vw;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#prompt-form > br {
    display: none;
}

#prompt-form > span {
    margin-bottom: 1rem;
    color: var(--secondary);
}

/* prompt_card.css */

.card.prompt {
    background: var(--item-background);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card.prompt.single {
    max-width: 40vw;
    margin: auto;
}

.prompt-name {
    margin: 0;

    font-size: 2em;
    font-weight: bold;

    text-align: center;
}

.prompt-description {
    font-size: 1.5em;

    text-align: center;
}

.detail-row {
    display: flex;
    justify-content: space-between;
}

.prompt-detail {
    margin: auto 0;
    color: var(--secondary);
}

#prompt-task-form {
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#prompt-task-form label {
    font-size: 1.5em;
}

#prompt-task-form input:not([type="submit"]) {
    font-size: 1em;
}

/* prompt_list.html */

.prompt-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

/* imaged_detail.html */

.big-image {
    min-width: 300px;
}

.two-cards {
    display: flex;
    gap: 20px;
    justify-content: center;

    max-width: 100%;
}

.detail-card {
    background-color: var(--item-background);
    padding: 20px;
    width: fit-content;
    max-width: 80vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
