{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'index.css' %}"/>
{% endblock %}

{% block content %}
    <h2 class="section-header centered noselect">We have images</h2>
    <div class="image-grid">
        {% for image in images %}
            <div class="card">
                <img class="image" src="{{ image.image.url }}" alt="{{ image.name}}"/>
                <div class="card-text">
                    <p class="image-name">{{ image.name }}</p>
                    <p class="image-description">
                        {{ image.description|default:"No description" }}
                    </p>
                    <p class="image-date">{{ image.created_at|date:"d-m-Y H:i" }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2 class="section-header centered noselect">Want more?</h2>
    <div class="single-button">
        <button>Generate</button>
    </div>
{% endblock %}
